<th:block xmlns:th="http://www.thymeleaf.org">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">ADD NEW PROJECTION</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form method="POST" th:action="@{'/shoe/{id}' (id=${shoe?.getShoe_name()})}" style="color:white">
          <div th:if="${shoe?.getShoe_name() == null}" class="form-group">
            <label for="shoe_name">Shoe name</label>
            <input type="text"
                   class="form-control"
                   id="shoe_name"
                   name="shoe_name"
                   th:value="${shoe?.getShoe_name()}"
                   required
                   placeholder="Shoe name">
          </div>
          <div class="form-group">
            <label for="supply">supply</label>
            <input type="text"
                   class="form-control"
                   id="supply"
                   name="supply"
                   th:value="${shoe?.getSupply()}"
                   required
                   placeholder="Supply">
          </div>
          <div class="form-group">
            <label for="store_name">store_name</label>
            <input type="text"
                   class="form-control"
                   id="store_name"
                   name="store_name"
                   th:value="${shoe?.getStore()?.getStore_name()}"
                   required
                   placeholder="Store name">
          </div>
          <div class="form-group">
            <label for="description">desc</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   name="description"
                   th:value="${shoe?.getDescription()}"
                   required
                   placeholder="Description">
          </div>
++
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</th:block>