<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">ADD NEW PROJECTION</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="POST" th:action="@{'/t-shirt/{id}' (id=${shirt?.getShirt_name()})}" style="color:white">
                              <div th:if="${shirt?.getShirt_name() == null}" class="form-group">
                                <label for="shirt_name">ID</label>
                                <input type="text"
                                       class="form-control"
                                       id="shirt_name"
                                       name="shirt_name"
                                       th:value="${shirt?.getShirt_name()}"
                                       required
                                       placeholder="Shirt name.">
                              </div>
                    <div class="form-group">
                        <label for="supply">supply</label>
                        <input type="text"
                               class="form-control"
                               id="supply"
                               name="supply"
                               th:value="${shirt?.getSupply()}"
                               required
                               placeholder="Supply">
                    </div>
                    <div class="form-group">
                        <label for="store_name">store_name</label>
                        <input type="text"
                               class="form-control"
                               id="store_name"
                               name="store_name"
                               th:value="${shirt?.getStore()?.getStore_name()}"
                               required
                               placeholder="Store name">
                    </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="${shirt?.getDescription()}"
                               required
                               placeholder="Description">
                    </div>
                    ++
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</th:block>