<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-justify-content-center">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="/logout"><button style="margin-left: 63%;"class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log out</button></a>
    </div>
</nav>
<div style="margin-left: 43%; margin-top: 0.3%;"><button type="button" class="btn btn-outline-dark btn-lg btn-block">Shoes</button>
    <a href="/t-shirt"><button type="button" class="btn btn-outline-dark btn-lg btn-block">T-shirts</button></a></div><br/>
<a href="/shoe/add-form"><button style="margin-left: 0.3%;"type="button" class="btn btn-outline-secondary btn-lg">Add new</button></a>
<br/>
<div class="wrapper" style="background-color: rgba(255,255 ,255,0.3);">
    <table class="table" style="font-size: 38px;">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Store Name</th>
            <th scope="col">Supply</th>
        </tr>
        </thead>
        <tbody>
        <tr class="item" th:each="shoe:${shoe}">
            <td th:text="${shoe.getShoe_name()}">[discussion.title]</td>
            <td th:text="${shoe.getDescription()}">[discussion.title]</td>
            <td th:text="${shoe?.getStore()?.getStore_name()}">[discussion.title]</td>
            <td th:text="${shoe.getSupply()}">[discussion.title]</td>
            <td>
                <form  th:action="@{'/shoe/{id}/edit' (id=${shoe.getShoe_name()})}" th:method="GET">
                    <button style="margin-left: 5%;width: 100px;height: 50px" type="submit" class="btn btn-primary btn-sm">Edit</button>
                </form>
                <form  th:action="@{'/shoe/{id}/delete' (id=${shoe.getShoe_name()})}" th:method="POST">
                    <button style="margin-left: 5%;width: 100px;height: 50px" type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>

</html>